In [1]:
#import libraries
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
pwd

'D:\\Laragon Projects\\python\\flightdelay\\app\\notebooks'

In [5]:
#read dataset
df=pd.read_csv("./sources/Airline_Delay_Cause.csv")

In [13]:
df

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2019,12,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",53.0,6.0,3.05,0.22,...,0.00,2.52,0.0,0.0,265.0,110.0,10.0,6.0,0.0,139.0
1,2019,12,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",115.0,4.0,0.03,0.00,...,0.00,2.62,0.0,2.0,157.0,1.0,0.0,40.0,0.0,116.0
2,2019,12,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",191.0,13.0,7.49,2.31,...,0.00,1.73,0.0,1.0,678.0,332.0,153.0,82.0,0.0,111.0
3,2019,12,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",6.0,1.0,0.00,0.00,...,0.00,0.00,0.0,0.0,19.0,0.0,0.0,19.0,0.0,0.0
4,2019,12,9E,Endeavor Air Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",3802.0,468.0,115.80,11.79,...,0.45,191.11,3.0,0.0,32762.0,11503.0,608.0,4885.0,93.0,15673.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80585,2014,12,WN,Southwest Airlines Co.,AMA,"Amarillo, TX: Rick Husband Amarillo International",151.0,56.0,26.18,2.39,...,0.00,22.47,3.0,1.0,2155.0,829.0,147.0,160.0,0.0,1019.0
80586,2014,12,WN,Southwest Airlines Co.,SJU,"San Juan, PR: Luis Munoz Marin International",354.0,67.0,22.42,1.00,...,0.00,34.14,0.0,0.0,3057.0,979.0,33.0,385.0,0.0,1660.0
80587,2014,12,WN,Southwest Airlines Co.,SLC,"Salt Lake City, UT: Salt Lake City International",807.0,323.0,135.76,0.98,...,1.15,151.35,3.0,0.0,14672.0,5356.0,26.0,1191.0,25.0,8074.0
80588,2014,12,EV,ExpressJet Airlines Inc.,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",1.0,0.0,0.00,0.00,...,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
80589,2014,12,OO,SkyWest Airlines Inc.,DAL,"Dallas, TX: Dallas Love Field",1.0,0.0,0.00,0.00,...,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
#show the first five rows from dataset
df.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2019,12,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",53.0,6.0,3.05,0.22,...,0.00,2.52,0.0,0.0,265.0,110.0,10.0,6.0,0.0,139.0
1,2019,12,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",115.0,4.0,0.03,0.00,...,0.00,2.62,0.0,2.0,157.0,1.0,0.0,40.0,0.0,116.0
2,2019,12,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",191.0,13.0,7.49,2.31,...,0.00,1.73,0.0,1.0,678.0,332.0,153.0,82.0,0.0,111.0
3,2019,12,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",6.0,1.0,0.00,0.00,...,0.00,0.00,0.0,0.0,19.0,0.0,0.0,19.0,0.0,0.0
4,2019,12,9E,Endeavor Air Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",3802.0,468.0,115.80,11.79,...,0.45,191.11,3.0,0.0,32762.0,11503.0,608.0,4885.0,93.0,15673.0

In [7]:
#discovering if dataset have null value or no
df.isnull()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80585,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
80586,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
80587,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
80588,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
80589,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
#show the null value in dataset
df.isnull().sum()

year                    0
month                   0
carrier                 0
carrier_name            0
airport                 0
airport_name            0
arr_flights            77
arr_del15              96
carrier_ct             77
weather_ct             77
nas_ct                 77
security_ct            77
late_aircraft_ct       77
arr_cancelled          77
arr_diverted           77
arr_delay              77
carrier_delay          77
weather_delay          77
nas_delay              77
security_delay         77
late_aircraft_delay    77
dtype: int64

In [15]:
#Remove null values from dataset
df_1=df.dropna(axis=0, how='any', inplace=False)

In [16]:
#dataset is cleaned from null values
df_1.isnull().sum()

year                   0
month                  0
carrier                0
carrier_name           0
airport                0
airport_name           0
arr_flights            0
arr_del15              0
carrier_ct             0
weather_ct             0
nas_ct                 0
security_ct            0
late_aircraft_ct       0
arr_cancelled          0
arr_diverted           0
arr_delay              0
carrier_delay          0
weather_delay          0
nas_delay              0
security_delay         0
late_aircraft_delay    0
dtype: int64

In [17]:
#discover if dataset has duplicated values or no 
df_1.duplicated().sum()

0

In [23]:
df_export = df_1.drop(['carrier_name', 'airport_name'], axis=1)
df_export.to_csv('./output/cleaned-flights.csv', index=False)
del df_export

In [ ]:
#print types of data in dataset
df_1.dtypes

In [ ]:
#convert string data in dataset to int 
from sklearn.preprocessing import LabelEncoder

In [ ]:
encoder = LabelEncoder()
df_1['carrier_name'] = encoder.fit_transform(df_1['carrier_name'])
carrier_name = {index : label for index, label in enumerate(encoder.classes_)}
carrier_name

In [ ]:
df_1['airport'] = encoder.fit_transform(df_1['airport'])
airport = {index : label for index, label in enumerate(encoder.classes_)}
airport

In [ ]:
df_1['airport_name'] = encoder.fit_transform(df_1['airport_name'])
airport_name = {index : label for index, label in enumerate(encoder.classes_)}
airport_name

In [ ]:
df_1['carrier'] = encoder.fit_transform(df_1['carrier'])
carrier = {index : label for index, label in enumerate(encoder.classes_)}
carrier

In [ ]:
x = df_1.drop('late_aircraft_delay', axis=1)
y = df_1['late_aircraft_delay']

In [ ]:
sns.set();
df.hist(figsize=(15,15));

In [ ]:
sns.set()
plt.figure(figsize=(20,10))
sns.barplot(data=df, x = df.year, y = df.late_aircraft_delay)
plt.show()

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=20,random_state=44)
print("x_train shape is:",x_train.shape)
print("x_test shape is:",x_test.shape)
print("y_train shape is:",y_train.shape)
print("y_test shape is:",y_test.shape)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

In [ ]:
RandomForestRegressorModel = RandomForestRegressor(n_estimators=100,max_depth=5, random_state=33)
RandomForestRegressorModel.fit(x_train, y_train)

print('Train Score is : ' , RandomForestRegressorModel.score(x_train, y_train))
print('Test Score is : ' , RandomForestRegressorModel.score(x_test, y_test))
print('No. of features are : ' , RandomForestRegressorModel.n_features_in_)
print('----------------------------------------------------')

y_pred = RandomForestRegressorModel.predict(x_test)
print('Predicted Value for Random Forest Regressor is : ' , y_pred[:10])

In [ ]:
from sklearn.metrics import mean_squared_error
MSEValue = mean_squared_error(y_test, y_pred, multioutput='uniform_average') # it can be raw_values
print('Mean Squared Error Value is : ', MSEValue)

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
y_test

In [ ]:
y_pred

# End

In [ ]:
ax = df_1["arr_del15"].value_counts().sort_values().plot(kind="barh", color=["r", "g"])
totals= []
for i in ax.patches:
    totals.append(i.get_width())
total = sum(totals)
for i in ax.patches:
     ax.text(i.get_width()+.3, i.get_y()+.20, 
     str(round((i.get_width()/total)*100, 2))+'%', 
     fontsize=10, color='black')
plt.title("arr_del15", fontsize=20)
plt.xlabel("Count", fontsize=14)
plt.ylabel("Class", fontsize=14)
plt.show()
print(df_1["arr_del15"].value_counts())
fig = ax.get_figure()
fig.savefig("./Img/05_01_ArrDel15_Class_Imbalance.png")

In [ ]:
plt.title("ArrDel15", fontsize=20)
plt.xlabel("Count", fontsize=14)
plt.ylabel("Class", fontsize=14)
plt.show()

In [ ]:
fig